
<div class="container">
    <h1 appAddFocus>Angular test</h1>
    <!-- <p>
        Counter: {{ count | async }}
    </p> 
    <button class="btn btn-primary" (click)="increment()">Increment</button>
    <div style="padding-top:20px; padding-bottom: 20px;"></div>
    <input/> -->
    <router-outlet></router-outlet>    
</div>


<!-- <router-outlet></router-outlet> 
<app-courses></app-courses> 
<app-authors></app-authors>
<app-favorite [status]="post.status" (change)="onFavoriteChange($event)"></app-favorite>
<app-like [tweets]="likes.count" [status]="likes.status" (change)="onLikeChange($event)"></app-like>  -->